
<h3>Add a list to <%= @list.name() %> </h3>

<form action="/lists" method="post">

  <label for="name">Name of new list:</label>
  <input id="name" name="name" type="text">

  <label for="description">Name of new list:</label>
  <input id="description" name="description" type="text">

  <label for="deadline">Name of new list:</label>
  <input id="deadline" name="description" type="text">

  <button type="submit">Add list</button>
</form>
